a,body,form,div,img,input,p,span,li,ul,h1,h3,iframe{margin:0;padding:0;border:0;}
body{background-color:#f0f0f0;color:#666666;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;text-align:center;height:100%}
button{font-size:12px;padding:1px 3px 1px 3px;}
a{font-size:11px;color:#808080;text-decoration:none;}
a.big{font-size:14px;font-weight:bold}
a.small{font-size:10px;font-weight:normal;color:#606060 }
a:hover{text-decoration:underline;}
li{list-style:none;}
h1{font-size:14px;font-weight:bold}
h3{font-size:16px;font-weight:bold}
#all{height:100%;}
#ad_home{width:300px;height:250px;float:left;margin-left:10px;padding:8px;background-color:#e0e0e0;}
#ad_200x200{height:200px; width:200px; margin-left:10px; padding:2px 22px 2px 22px; border:1px solid #e0e0e0;}
#ad_728x90{height:90px;width:728px;margin-left:auto;margin-right:auto;margin-top:0px;margin-bottom:10px; padding-right:30px;   }
#ad_box_336x280{padding:10px 8px 8px 8px;margin-right:10px;background-color:#e0e0e0;float:left;}
#ad_mini{ float:left;padding-left:0px;padding-top:36px;color:#606060 }
#ad_mini a{ color:#606060;font-size:12px;}
#categories{width:860px;}
#new_and_top_games{width:860px;height:400px;margin-bottom:10px;}
#cat_content{width:786px;height:440px;margin-left:auto;margin-right:auto;margin-bottom:0px;padding:10px 60px 10px 0px}
#cat_pager{width:786px;height:26px;margin-left:auto;margin-right:auto;padding:0px 60px 0px 0px;margin-bottom:14px}
#cat_info{width:880px;height:340px;}
#content{text-align:center;background-color:#ffffff;padding-bottom:2px;}
#content_home{margin-left:auto;margin-right:auto;width:844px;height:312px;}
#content_game{margin-left:auto;margin-right:auto;width:1200px }
#future_teaser{width:820px;height:46px;color:#808080;margin-left:auto;margin-right:auto;margin-bottom:20px;text-align:left;}
#future_teaser p{font-size:14px;margin-top:5px}
#game_box{margin-left:auto;margin-right:auto;margin-bottom:58px}
#game_plus_buttons{float:left; background-color:#e0e0e0}
#game{width:100%;margin-top:10px }
#buttons{width:100%;height:20px;text-align:center;padding-top:8px;}
#related_games{float:left;height:100%;width:248px;}
#related_games img{padding:2px;border:1px solid #e0e0e0}
#related_games ul{width:116px;height:96px;float:left;margin-left:8px }

#game_votes{margin-left:auto;margin-right:auto;text-align:center;background-color:#d0d0d0;padding:5px 10px 0 10px; height:30px;}
#game_embed{margin-left:auto;margin-right:auto;}
#game_info{width:880px;height:400px;}
#game_thumb_vote{width:380px;height:90px;}
#game_description{padding-right:10px}
#game_description img{margin-right:6px;}
#game_related_result{width:840px;margin-left:auto;margin-right:auto;display:block}
#game_related_teaser{width:840px;height:250px;color:#808080;margin-left:auto;margin-right:auto;margin-bottom:20px;text-align:left;}
#game_related_teaser p{padding-left:8px;font-size:14px}
#game_tag_teaser{width:840px;height:250px;margin-left:auto;margin-right:auto;margin-bottom:20px;text-align:left;}

#infoarea{background-color:#f0f0f0;padding-top:10px;border-top:1px solid #e9e9e9;}
#infoarea_inner{width:844px;margin-left:auto;margin-right:auto;text-align:left;}
#menu{width:660px;color:#ffffff;margin-left:0px;text-align:left;float:left;padding-top:6px}
#menu a{font-size:14px;color:#ffffff;text-decoration:none;padding:4px 8px 4px 8px;position:relative;}
#menu a:hover{text-decoration:underline;}
#menu .active{text-decoration:underline;}
#menu_2{color:#888888;font-size:12px;font-weight:bold;padding-top:8px;text-align:left;}
#menu_2 a{font-size:12px;text-transform:uppercase;color:#888888;text-decoration:none;padding:0 6px 0 8px;}
#menu_2 a:hover{text-decoration:underline;}
#menu_2 .active{text-decoration:underline;}
#stripe_header{background-image:url('https://web.archive.org/web/20130526084902im_/http://i1.silvergames.com/i/header-back.gif');background-color:#3399cc;height:60px;border-bottom:1px solid #ffffff;}
#stripe_header_inner{width:844px;margin-left:auto;margin-right:auto;text-align:left;}
#stripe_header #logo{height:inherit;float:left;}
#stripe_nav{background-color:#a3a3a3;height:30px;text-transform:uppercase;}
#stripe_nav_inner{width:844px;margin-left:auto;margin-right:auto;text-align:left;}
#stripe_nav_2{height:30px;padding-bottom:4px;background-color:#ffffff}
#stripe_nav_2_inner{width:844px;margin-left:auto;margin-right:auto;text-align:left;}
#search_box{width:174px;height:18px;margin-top:4px;float:left;}
#search_box input{border:1px solid #909090;height:18px;width:150px;background-color:#ffffff;vertical-align:top;}
#search_box img{margin-top:1px;}
#search_result{width:840px;margin-left:auto;margin-right:auto;display:block}
#search_headline{width:840px;height:30px;color:#808080;margin-left:auto;margin-right:auto;text-align:left;}
#search_headline p{padding-left:8px;font-size:14px}
#featured{width:516px;height:302px;float:left;background-color:#a0a0a0}
#slideshow{background-color:#a0a0a0;color:#f0f0f0;font-size:14px;height:250px;width:500px;text-align:left;margin:8px 8px 8px 8px;}
#footer{;background-color:#f0f0f0;height:30px;bottom:0px;clear:both;font-size:11px  }
#footer a{font-size:11px;color:#606060;}
#footer_inner{width:844px;margin-left:auto;margin-right:auto;text-align:center;}
#nav{margin:15px 0}
#nav a{font-size:12px;margin:0 2px;padding:3px 7px 3px 7px;border:1px solid #ffffff;color:#ffffff;background:#a0a0a0;text-decoration:none}
#nav a:hover{background:#ffffff;color:#888888;}
#nav a.activeSlide{background:#ffffff;color:#888888;}
#nav a:focus{outline:none;}
#pager{margin:15px 0 2px 0;color:#888888;}
#pager a{font-size:12px;margin:0 4px 4px 0;line-height:22px;border:1px solid #a0a0a0;color:#888888;background:#ffffff;text-decoration:none;}
#pager a:hover{background:#888888;color:#ffffff;}
#pager a.one{padding:3px 6px 3px 6px;}
#pager a.two{padding:3px 2px 3px 2px;}
#pager a.three{padding:3px 2px 3px 1px;}
#pager a.active{background:#888888;color:#ffffff;border:1px solid #888888;}

.game_thumb{border:1px solid #a0a0a0;padding:2px}
.cat_info_box{width:440px;min-height:160px;background-color:#e0e0e0;padding-left:20px;padding-bottom:20px;float:left;margin:0 10px 10px 0}
.cat_info_box .header{width:100%;height:24px;float:left;padding-top:10px;font-size:14px;margin-bottom:3px;background-color:#e0e0e0;text-transform:uppercase}
.cat_info_box .body{width:100%;float:left;}
.category_box{width:398px;min-height:300px;background-color:#e0e0e0;padding-left:20px;float:left;margin:0 10px 10px 0}
.category_box .header{width:100%;height:24px;float:left;padding-top:10px;font-size:14px;margin-bottom:3px;background-color:#e0e0e0;text-transform:uppercase}
.category_box .body{width:100%;float:left;}
.category_box .footer{width:100%;float:left;margin-bottom:20px;}
.category_box img{padding:2px;border:1px solid #c0c0c0;}
.category_box .footer a{font-size:12px;color:#606060;font-weight:bold}
.category_top_box{height:400px;}
.list_games_category ul{height:110px;width:110px;float:left;margin-right:21px;margin-left:0px;}
.list_games_category li{list-style:none;}
.list_games_category a{color:#808080;font-weight:bold;}
.list_games ul{height:110px;width:110px;float:left;margin:0 10px 0 10px;}
.list_games img{border:1px solid #d9d9d9;padding:2px;}
.list_games a{font-weight:bold;}
.list_games_related ul{height:110px;width:110px;float:left;margin-right:10px;}
.pics{height:250px;width:500px;overflow:hidden;}
.pics img{height:250px;width:500px;}
/*
     FILE ARCHIVED ON 08:49:02 May 26, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:59:37 Jul 23, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.496
  load_resource: 102.02
  PetaboxLoader3.resolve: 69.236
  PetaboxLoader3.datanode: 12.379
*/